{% extends "main/base.html" %} {% comment "" %}Указываем каким шаблоном расширяем данный{% endcomment %}
{% load static %} {% comment "" %}Расширяем статических файлов к шаблонам{% endcomment %}

{% block css %} {% comment "" %}Расширяем блоком css из шаблона base{% endcomment %}
		<link rel="stylesheet" href="{% static "main/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %} {% comment "" %}Расширяем блоком content из шаблона base{% endcomment %}
		<div class="mt-5 pt-5 bg-white custom-shadow rounded">
			<h2 class="m-2"><strong>{{ content }}</strong></h2>
			<p class="m-2">{{ text_on_page }}</p>
		</div>
{% endblock content %}

{% block footer %} {% comment "" %}Расширяем блоком footer из шаблона base{% endcomment %}
<footer class="py-4 bg-dark">
	<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
	</div>
</footer>
{% endblock footer %}
